.table-row {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    min-width: 573px;
}
.row-element {
    margin: 10px 0 10px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25%;
    max-width: 250px;
    margin-left: 5px;
}
.table-row:hover {
    box-shadow: 0 3px 0.75rem #bfbfbf;
    /* background-color: #9f9f9f; */
    /* color: #757575; */
}
.table-row-buttons {
    display: none;
    z-index: 10;
    margin-right: 10px;
    margin-left: 5px;
    gap: 5px;
    align-items: center;
}
.table-row:hover > .table-row-buttons {
    display: flex;
}